<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuhk.mapper.SchoolStudentMapper">
    <resultMap type="com.wuhk.entity.ComType" id="ComTypeResult">
        <result property="typeId" column="type_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="typeName" column="type_name"/>
    </resultMap>
    <select id="selectPage" resultType="com.wuhk.entity.SchoolStudent">
         select * from school_student
    </select>

    <select id="getPageStudentTwo" resultType="com.wuhk.entity.SchoolStudent">
        select * from school_student
    </select>

    <select id="getPageStudentFour" resultType="com.wuhk.entity.SchoolStudent">
        select * from school_student
    </select>

    <select id="getTree" resultType="com.wuhk.entity.DevType">
        SELECT * FROM dev_type
        <where>
        <if test="parentId != null and parentId != '' "> and parent_id = #{parentId}</if>
    </where>
    </select>

    <select id="selectComTypeTrees" parameterType="com.wuhk.entity.ComType" resultMap="ComTypeResult">
        select type_id,parent_id,type_name from com_type
        <where>
            <if test="parentId != null and parentId != '' "> and parent_id = #{parentId}</if>
        </where>
    </select>
</mapper>
